// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comments-container {
    margin: 2rem auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.comments-cell {
    margin: 1rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    color: black;
    text-shadow: none;
    text-align: left;
}

.comments-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.comment-author {
    float: left;
    margin-right: 1rem;
}

.new-comment-form {
    margin: 2rem;
}

.new-comment-field {
    height: 50px;
}